<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.team3.app.dao.BoardDAO">
	<select id ="selectCategoryList" resultType="kr.kh.team3.app.model.vo.CategoryVO">
		select * from category
	</select>
	<select id ="selectBoardList" resultType="kr.kh.team3.app.model.vo.BoardVO">
		select * from board
	</select>
	<select id="selectPostList" resultType="kr.kh.team3.app.model.vo.PostVO">
		SELECT * 
		FROM POST
		where po_bo_num = #{boNum}
	</select>
	
	
	
	<select id="selectTotalCount" resultType="int">
		SELECT count(*) 
		FROM POST
		<if test='cri.type=="all"'>
			where po_title like concat('%', #{cri.search},'%') 
				or po_me_id = #{cri.search}
		</if>
		<if test='cri.type=="title"'>
			where po_title like concat('%', #{cri.search},'%') 
		</if>
		<if test='cri.type=="writer"'>
			where po_me_id = #{cri.search}
		</if>
	</select>
</mapper>