<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.team3.app.dao.BoardDAO">
	<resultMap type="kr.kh.team3.app.model.vo.BoardVO" id="BoardMap">
		<id property="bo_num" column="bo_num"/>
		<result property="bo_ca_num" column="bo_ca_num"/>
		<result property="bo_name" column="bo_name"/>
		<collection property="category" ofType="kr.kh.team3.app.model.vo.CategoryVO"
			column="bo_ca_num" select="selectCategory"/>
	</resultMap>
	
	<select id="selectCategory" resultType="kr.kh.team3.app.model.vo.CategoryVO">
		select * from category where ca_num = #{bo_ca_num}
	</select>

	<select id ="selectCategoryList" resultType="kr.kh.team3.app.model.vo.CategoryVO">
		select * from category
	</select>
	<select id ="selectBoardList" resultType="kr.kh.team3.app.model.vo.BoardVO">
		select * from board
	</select>
	<insert id="insertBoard" useGeneratedKeys="true" keyProperty="board.bo_num">
		insert into board(bo_name, bo_ca_num) values(#{board.bo_name},#{board.bo_ca_num})
	</insert>
	<select id="selectBoard" resultType="kr.kh.team3.app.model.vo.BoardVO">
		select * from board where bo_num = #{boNum}
	</select>
	<select id="selectBoList" resultMap="BoardMap">
		SELECT * 
		FROM board
		where bo_ca_num = #{cri.boNum}
		ORDER BY bo_num DESC
		LIMIT #{cri.pageStart}, #{cri.perPageNum}
	</select>
	<select id="selectTotalCountBoard" resultType="int">
		SELECT count(*) 
		FROM board
		where bo_ca_num = #{cri.boNum}
	</select>
	<select id="selectCate" resultType="kr.kh.team3.app.model.vo.CategoryVO">
	select * category where ca_num = #{caNum}
	</select>
</mapper>