<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.team3.app.dao.MemberDAO">
	<insert id="insertMember">
		INSERT INTO MEMBER(me_name, me_id, me_pw, me_email, me_phone, me_ms_state)
		VALUES(#{member.me_name},#{member.me_id},#{member.me_pw},#{member.me_email},#{member.me_phone},"이용중")
	</insert>
	
	<select id="selectMember" resultType="kr.kh.team3.app.model.vo.MemberVO">
		SELECT * FROM MEMBER WHERE me_id = #{me_id}
	</select>
	
	<select id="selectMemberId" resultType="kr.kh.team3.app.model.vo.MemberVO">
		select me_id from member where me_name = #{me_name} and me_phone = #{me_phone}
	</select>
</mapper>