<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.team3.app.dao.PostDAO">
	<resultMap type="kr.kh.team3.app.model.vo.PostVO" id="PostMap">
	<id property="po_num" column="po_num"/>
	<result property="po_bo_num" column="po_bo_num"/>
	<result property="po_me_id" column="po_me_id"/>
	<result property="po_title" column="po_title"/>
	<result property="po_content" column="po_content"/>
	<result property="po_view" column="po_view"/>
	<result property="po_report_count" column="po_report_count"/>
	<result property="po_temp" column="po_temp"/>
	<result property="po_notice" column="po_notice"/>
	<collection property="board" ofType="kr.kh.team3.app.model.vo.BoardVO"
		column="po_bo_num" select="selectBoard"/>
	</resultMap>
	
	<resultMap type="kr.kh.team3.app.model.vo.CommentVO" id="CommentMap">
	<id property="cm_num" column="cm_num"/>
	<result property="cm_po_num" column="cm_po_num"/>
	<result property="cm_me_id" column="cm_me_id"/>
	<result property="cm_content" column="cm_content"/>
	<collection property="post" ofType="kr.kh.team3.app.model.vo.BoardVO"
		column="cm_po_num" select="selectPost2"/>
	</resultMap>
	
	<select id="selectBoard" resultType="kr.kh.team3.app.model.vo.BoardVO">
		select * from board where bo_num = #{po_bo_num}
	</select>
	
	<select id="selectPost2" resultType="kr.kh.team3.app.model.vo.PostVO">
		select * from post where po_num = #{cm_po_num}
	</select>
	
	<update id="updateView">
		update post set po_view = po_view + 1 where po_num = #{num}
	</update>
	<select id="selectPost" resultMap="PostMap">
		select 
			post.*,
			sum(case when rc_state = 1 then 1 else 0 end) as po_up
		from post left join
			recommend on rc_po_num = po_num
			where po_num = #{num}
	</select>
	<select id="selectFileByBo_num" resultType="kr.kh.team3.app.model.vo.FileVO">
		select * from file where fi_po_num = #{num}
	</select>
	<select id="selectRecommend" resultType="kr.kh.team3.app.model.vo.RecommendVO">
		select * from recommend where rc_po_num = #{po_num} and rc_me_id = #{me_id}
	</select>
	<insert id="insertRecommend">
		insert into recommend(rc_me_id, rc_po_num, rc_state)
		values(#{re.rc_me_id},#{re.rc_po_num},#{re.rc_state})
	</insert>
	<update id="updateRecommend">
		update recommend set rc_state = #{re.rc_state} where rc_num = #{re.rc_num}
	</update>
	<insert id="insertComment">
		insert into comment(cm_po_num, cm_content, cm_me_id)
		values(#{co.cm_po_num},#{co.cm_content},#{co.cm_me_id})
	</insert>
	<select id="selectCommentList" resultType="kr.kh.team3.app.model.vo.CommentVO">
		select * from comment 
		where cm_po_num = #{cri.poNum}
		order by cm_num desc
		limit #{cri.pageStart}, #{cri.perPageNum}
	</select>
	<select id="selectTotalCountComment" resultType="int">
		select count(*) from comment 
		where cm_po_num = #{cri.poNum}
	</select>
	<select id="selectComment" resultType="kr.kh.team3.app.model.vo.CommentVO">
		select * from comment where cm_num = #{cm_num}
	</select>
	<update id="updateComment">
		update comment set cm_content = #{co.cm_content} where cm_num = #{co.cm_num}
	</update>
	<delete id="deleteComment">
		delete from comment where cm_num = #{cm_num}
	</delete>
	<select id="selectPostList" resultMap="PostMap">
		SELECT 
			post.*, 
			SUM(CASE WHEN rc_state = 1 THEN 1 ELSE 0 END) AS po_up
		FROM post left join
			recommend on rc_po_num = po_num
		where po_bo_num = #{cri.boNum} and po_temp != 1
		<if test='cri.type=="all"'>
				and (po_title like concat('%', #{cri.search},'%') 
				or po_me_id = #{cri.search})
		</if>
		<if test='cri.type=="title"'>
			and po_title like concat('%', #{cri.search},'%') 
		</if>
		<if test='cri.type=="writer"'>
			and po_me_id = #{cri.search}
		</if>
		GROUP BY po_num
		ORDER BY po_num DESC
		LIMIT #{cri.pageStart}, #{cri.perPageNum}
	</select>
	<select id="selectTotalCount" resultType="int">
		SELECT count(*)
		FROM post
		where po_bo_num = #{cri.boNum}
		<if test='cri.type=="all"'>
			and (po_title like concat('%', #{cri.search},'%') 
				or po_me_id = #{cri.search})
		</if>
		<if test='cri.type=="title"'>
			and po_title like concat('%', #{cri.search},'%') 
		</if>
		<if test='cri.type=="writer"'>
			and po_me_id = #{cri.search}
		</if>
	</select>
	
	<select id="selectRecentNotice" resultMap="PostMap">
		SELECT * 
		FROM post
		WHERE po_notice = 1 AND po_bo_num = 1
		ORDER BY po_date DESC
		LIMIT 5;
	</select>
	

	<select id="selectPostHotList" resultMap="PostMap">
		SELECT 
			post.*, 
			SUM(CASE WHEN rc_state = 1 THEN 1 ELSE 0 END) AS po_up
		FROM post left join
			recommend on rc_po_num = po_num
			<if test='cri.type=="all"'>
			where (po_title like concat('%', #{cri.search},'%') 
				or po_me_id = #{cri.search})
			</if>
			<if test='cri.type=="title"'>
				where po_title like concat('%', #{cri.search},'%') 
			</if>
			<if test='cri.type=="writer"'>
				where po_me_id = #{cri.search}
			</if>
		group by po_num
		having po_up > 4
		order by po_up desc
		limit 5;
	</select>
	<select id="selectFileByPo_num" resultType="kr.kh.team3.app.model.vo.FileVO">
		select * from file where fi_po_num = #{num} 
	</select>
	<insert id="insertPost" useGeneratedKeys="true" keyProperty="post.po_num">
		insert into post(po_bo_num,po_title,po_content,po_me_id,po_date) 
		values(#{post.po_bo_num},#{post.po_title},#{post.po_content},#{post.po_me_id},now())
	</insert>
	<insert id="insertFile">
		insert into file(fi_po_num, fi_name, fi_ori_name)
		values(#{file.fi_po_num},#{file.fi_name},#{file.fi_ori_name})
	</insert>
	<delete id="deleteFile">
		delete from file where fi_num = #{fi_num}
	</delete>
	<delete id="deletePost">
		delete from post where po_num = #{num}
	</delete>
  
	<insert id ="insertTmpPost" useGeneratedKeys="true" keyProperty="post.po_num">
		insert into post(po_bo_num,po_title,po_content,po_me_id,po_temp) 
		values(#{post.po_bo_num},#{post.po_title},#{post.po_content},#{post.po_me_id},#{post.po_temp})
	</insert>
	
	<update id="updateTmpPost">
		update post 
		set
		po_bo_num = #{post.po_bo_num},
		po_title = #{post.po_title},
		po_content = #{post.po_content}
		where
		po_num = #{po_num} and po_me_id = #{post.po_me_id}
	</update>
	
	<select id="selectTmpPostList" resultType="kr.kh.team3.app.model.vo.PostVO">
		select * from post where po_me_id = #{user.me_id} and po_temp = 1
	</select>
	
	<update id="submitTmpPost">
		update post
		set
		po_bo_num = #{post.po_bo_num},
		po_title = #{post.po_title},
		po_content = #{post.po_content},
		po_me_id = #{post.po_me_id},
		po_temp = 0
		where po_num = #{po_num}
	</update>
	<select id="selectFile" resultType="kr.kh.team3.app.model.vo.FileVO">
		select * from file where fi_num = #{fi_num}
	</select>
	
	<update id="updatePost">
		update post set
			po_title = #{post.po_title},
			po_content = #{post.po_content},
			po_bo_num = #{post.po_bo_num}
		where
			po_num = #{post.po_num}
	</update>
  
	<select id="selectMyPostList" resultMap="PostMap">
		SELECT * 
		FROM post
		WHERE po_me_id = #{cri.me_id}
		<if test='cri.type=="all"'>
			and po_title like concat('%', #{cri.search},'%') 
				or po_content like concat('%', #{cri.search}, '%')
		</if>
		<if test='cri.type=="title"'>
			and po_title like concat('%', #{cri.search},'%') 
		</if>
		<if test='cri.type=="content"'>
			and po_content like concat('%', #{cri.search}, '%')
		</if>
		ORDER BY po_num DESC
		LIMIT #{cri.pageStart}, #{cri.perPageNum}
	</select>
	
	<select id="selectMyPostTotalCount" resultType="int">
		SELECT count(*)
		FROM post
		WHERE po_me_id = #{cri.me_id}
		<if test='cri.type=="all"'>
			and po_title like concat('%', #{cri.search},'%') 
				or po_content like concat('%', #{cri.search}, '%')
		</if>
		<if test='cri.type=="title"'>
			and po_title like concat('%', #{cri.search},'%') 
		</if>
		<if test='cri.type=="content"'>
			and po_content like concat('%', #{cri.search}, '%')
		</if>
	</select>
	
	<select id="selectMyCommentPostList" resultMap="CommentMap">
		SELECT 
			*
		FROM comment left join
			post on cm_po_num = po_num
		WHERE cm_me_id = #{cri.me_id}
		<if test='cri.type=="all"'>
			and po_title like concat('%', #{cri.search},'%') 
				or cm_content like concat('%', #{cri.search}, '%')
		</if>
		<if test='cri.type=="potitle"'>
			and po_title like concat('%', #{cri.search},'%') 
		</if>
		<if test='cri.type=="cmcontent"'>
			and cm_content like concat('%', #{cri.search}, '%')
		</if>
		ORDER BY po_num DESC
		LIMIT #{cri.pageStart}, #{cri.perPageNum}
	</select>
	
	<select id="selectMyCommentPostTotalCount" resultType="int">
		SELECT 
			COUNT(*)
		FROM comment left join
			post on cm_po_num = po_num
		WHERE cm_me_id = #{cri.me_id}
		<if test='cri.type=="all"'>
			and po_title like concat('%', #{cri.search},'%') 
				or cm_content like concat('%', #{cri.search}, '%')
		</if>
		<if test='cri.type=="potitle"'>
			and po_title like concat('%', #{cri.search},'%') 
		</if>
		<if test='cri.type=="cmcontent"'>
			and cm_content like concat('%', #{cri.search}, '%')
		</if>
	</select>
	
	
<!-- 	<select id="selectMyCommentList" resultType="kr.kh.team3.app.model.vo.CommentVO">
		SELECT * FROM comment
		WHERE cm_me_id = #{me_id}
	</select> -->
	
<!-- 	<select id="selectMyCommentPostList" resultType="kr.kh.team3.app.model.vo.MyCommentVO">
		SELECT * FROM comment JOIN post ON po_num = cm_po_num
		JOIN board on bo_num = po_bo_num
		WHERE cm_me_id = #{cri.me_id}
		<if test='cri.type=="all"'>
			and po_title like concat('%', #{cri.search},'%') 
				or po_content like concat('%', #{cri.search}, '%')
		</if>
		<if test='cri.type=="title"'>
			and po_title like concat('%', #{cri.search},'%') 
		</if>
		<if test='cri.type=="content"'>
			and po_content like concat('%', #{cri.search}, '%')
		</if>
		ORDER BY po_num DESC
		LIMIT #{cri.pageStart}, #{cri.perPageNum}
	</select>
	
	<select id="selectMyCommentPostTotalCount" resultType="int">
		SELECT COUNT(*) FROM comment JOIN post ON po_num = cm_po_num
		JOIN board on bo_num = po_bo_num
		WHERE cm_me_id = #{cri.me_id}
		<if test='cri.type=="all"'>
			and po_title like concat('%', #{cri.search},'%') 
				or po_content like concat('%', #{cri.search}, '%')
		</if>
		<if test='cri.type=="title"'>
			and po_title like concat('%', #{cri.search},'%') 
		</if>
		<if test='cri.type=="content"'>
			and po_content like concat('%', #{cri.search}, '%')
		</if>
	</select> -->
	
	<select id="selectReportPostList" resultType="kr.kh.team3.app.model.vo.ReportVO">
		SELECT report.*,po_title as re_title FROM report join post on po_num = re_po_num
		WHERE re_po_num = #{cri.poNum}
		<if test='cri.type=="all"'>
			and re_rt_name like concat('%', #{cri.search},'%') 
				or re_content like concat('%', #{cri.search}, '%')
		</if>
		<if test='cri.type=="title"'>
			and re_rt_name like concat('%', #{cri.search},'%') 
		</if>
		<if test='cri.type=="content"'>
			and re_content like concat('%', #{cri.search}, '%')
		</if>
		ORDER BY re_num DESC
		LIMIT #{cri.pageStart}, #{cri.perPageNum}
	</select>
	
	<select id="selectReportTotalCount" resultType="int">
		select count(*) from report join post on po_num = re_po_num
		WHERE re_po_num = #{cri.poNum}
		<if test='cri.type=="all"'>
			and re_rt_name like concat('%', #{cri.search},'%') 
				or re_content like concat('%', #{cri.search}, '%')
		</if>
		<if test='cri.type=="title"'>
			and re_rt_name like concat('%', #{cri.search},'%') 
		</if>
		<if test='cri.type=="content"'>
			and re_content like concat('%', #{cri.search}, '%')
		</if>
	</select>
	
	<select id="selectReportPost" resultType="kr.kh.team3.app.model.vo.ReportVO">
		select * from report where re_num = #{num}
	</select>
	
	<delete id="deleteReportPost">
		delete from report where re_num = #{num}
	</delete>
	
	<select id="selectPostHotMainList" resultMap="PostMap">
		SELECT 
			post.*, 
			SUM(CASE WHEN rc_state = 1 THEN 1 ELSE 0 END) AS po_up
		FROM post left join
			recommend on rc_po_num = po_num
		group by po_num
		having po_up > 4
		order by po_up desc
		limit 5;
	</select>
	
	<select id="selectTotalHotCount" resultType="int">
		SELECT count(*)
		FROM post
		<if test='cri.type=="all"'>
			where po_title like concat('%', #{cri.search},'%') 
				or po_me_id = #{cri.search}
		</if>
		<if test='cri.type=="title"'>
			where po_title like concat('%', #{cri.search},'%') 
		</if>
		<if test='cri.type=="writer"'>
			where po_me_id = #{cri.search}
		</if>
	</select>
</mapper>